---
import Layout from "../layouts/Layout.astro";

import Navbar from "../components/Navbar.astro";
---

<Layout title="Page not found">
    
    <!-- Header Section -->
    <header>
        <Navbar></Navbar>
    </header>
    <div style="min-height: 60vh; padding-top: 20vh; padding-left: 5vw;">
        <h1>404. Page not found.</h1>
        <p>It looks like you’ve reached a URL that doesn’t exist. Let’s start from the beginning!</p> <a href="https://ventori-solutions.com">Go to the main page →</a>
    </div>
    
</Layout>