---
import Layout from "../layouts/Layout.astro";

import Header from "../components/Navbar.astro";
import Hero1 from "../components/Hero1.astro";
import Hero2 from "../components/Hero2.astro";
import CardsPricing from "../components/CardsPricing.astro";



---

<Layout title="Welcome">
    <body>
        <!-- Header Section -->
        <header>
            <Header></Header>
        </header>

        <!-- Main Content Section -->
        <main>
            <Hero2></Hero2>
            <CardsPricing></CardsPricing>
        </main>

        <!-- Footer Section -->
        <footer>
            
        </footer>
    </body>
</Layout>
