---
import Layout from "../layouts/Layout.astro";

import Header from "../components/Navbars/Navbar.astro";
import Hero1 from "../components/Heroes/Hero1.astro";
import Hero2 from "../components/Heroes/Hero2.astro";
import CardsPricing from "../components/Cards/CardsPricing.astro";

import FooterThreeColumn from "../components/Footer/FooterThreeColumn.astro";


---

<Layout title="Welcome">
    <body>
        <!-- Header Section -->
        <header>
            <Header></Header>
        </header>

        <!-- Main Content Section -->
        <main>
            <Hero2></Hero2>
            <CardsPricing></CardsPricing>
        </main>

        <!-- Footer Section -->
        <footer>
            <FooterThreeColumn></FooterThreeColumn>
        </footer>
    </body>
</Layout>
